<nav id="nav">
    <ul class="links">
        {% for item in site.navigation %}
            {% if item.display == true %}
                    <!-- <li {%if page.section == item.section %}class="active"{%endif%}><a href="{{ item.url }}">{{ item.text }}</a></li> -->
                {% if page.language == 'en-US' %}
                <!-- <li><a href="./en/{{ item.url }}" class=""><span class="label"></span>{{ item.text }}</a></li> -->
                <li><a href="en/{{ item.url }}" class=""><span class="label"></span>{{ item.text }}</a></li>

                {% elsif page.language == 'ko-KR' %}
                <!-- <li><a href="./kr/{{ item.url }}" class=""><span class="label"></span>{{ item.text }}</a></li> -->
                <li><a href="kr/{{ item.url }}" class=""><span class="label"></span>{{ item.text }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    <ul class="icons">
        <li><a href="{{ site.data.index.twitter }}" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="{{ site.data.index.website }}" class="icon solid solo fa-home"><span class="label">Website</span></a></li>
        <li><a href="{{ site.data.index.mailto }}" class="icon solid solo fa-envelope"><span class="label">Email</span></a></li>
        <li><a href="{{ site.data.index.discourse }}" class="icon brands alt fa-discourse"><span class="label">Discourse</span></a></li>
        <li><a href="{{ site.data.index.slack }}" class="icon brands alt fa-slack"><span class="label">Slack</span></a></li>
        <li><a href="{{ site.data.index.github }}" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
        {% if page.language == 'en-US' %}
        <li><a href="./kr/{{ page.base_url }}" class=""><span class="label"><b>KR</b></span></a></li>
        {% elsif page.language == 'ko-KR' %}
        <li><a href="./en/{{ page.base_url }}" class=""><span class="label"><b>EN</b></span></a></li>
        {% endif %}

    </ul>
</nav>